# 1- Getting to know PySpark

In [3]:
# sc => SparkContext
rdd = sc.parallelize([1,2,4])
print(type(rdd))
print(rdd.take(5))

<class 'pyspark.rdd.RDD'>
[1, 2, 4]

* Spark is a platform for cluster computing. Spark lets you spread data and computations over clusters with multiple nodes (think of each node as a separate computer). Splitting up your data makes it easier to work with very large datasets because each node only works with a small amount of data.

* As each node works on its own subset of the total data, it also carries out a part of the total calculations required, so that both data processing and computation are performed in parallel over the nodes in the cluster. It is a fact that parallel computation can make certain types of programming tasks much faster.

In [ ]:
# # Verify SparkContext
# print(sc)

# # Print Spark version
# print(sc.version)
# Welcome to
#       ____              __
#      / __/__  ___ _____/ /__
#     _\ \/ _ \/ _ `/ __/  '_/
#    /__ / .__/\_,_/_/ /_/\_\   version 2.3.1
#       /_/

# Using Python version 3.5.2 (default, Nov 23 2017 16:37:01)
# SparkSession available as 'spark'.

# <script.py> output:
#     <SparkContext master=local[*] appName=pyspark-shell>
#     2.3.1

* Spark's core data structure is the Resilient Distributed Dataset (RDD)

In [ ]:
# # Import SparkSession from pyspark.sql
# from pyspark.sql import SparkSession

# # Create my_spark
# my_spark = SparkSession.builder.getOrCreate()

# # Print my_spark
# print(my_spark)

# <script.py> output:
#     <pyspark.sql.session.SparkSession object at 0x7f80a94a4eb8>

In [ ]:
# # Print the tables in the catalog
# print(spark.catalog.listTables())

# <script.py> output:
#     [Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [ ]:
# # Don't change this query
# query = "FROM flights SELECT * LIMIT 10"

# # Get the first 10 rows of flights
# flights10 = spark.sql(query)

# # Show the results
# flights10.show()

# <script.py> output:
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     |year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     |2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
#     |2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
#     |2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
#     |2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
#     |2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
#     |2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
#     |2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
#     |2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
#     |2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
#     |2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

In [ ]:
# # Don't change this query
# query = "SELECT origin, dest, COUNT(*) as N FROM flights GROUP BY origin, dest"

# # Run the query
# flight_counts = spark.sql(query)

# # Convert the results to a pandas DataFrame
# pd_counts = flight_counts.toPandas()

# # Print the head of pd_counts
# print(pd_counts.head())

# <script.py> output:
#       origin dest    N
#     0    SEA  RNO    8
#     1    SEA  DTW   98
#     2    SEA  CLE    2
#     3    SEA  LAX  450
#     4    PDX  SEA  144

In [ ]:
# # Create pd_temp
# pd_temp = pd.DataFrame(np.random.random(10))

# # Create spark_temp from pd_temp
# spark_temp = spark.createDataFrame(pd_temp)

# # Examine the tables in the catalog
# print(spark.catalog.listTables())

# # Add spark_temp to the catalog
# spark_temp.createOrReplaceTempView("temp")

# # Examine the tables in the catalog again
# print(spark.catalog.listTables())

# <script.py> output:
#     [Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]
#     [Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [ ]:
# # Don't change this file path
# file_path = "/usr/local/share/datasets/airports.csv"

# # Read in the airports data
# airports = spark.read.csv(file_path, header=True)

# # Show the data
# airports.show()

# <script.py> output:
#     +---+--------------------+----------------+-----------------+----+---+---+
#     |faa|                name|             lat|              lon| alt| tz|dst|
#     +---+--------------------+----------------+-----------------+----+---+---+
#     |04G|   Lansdowne Airport|      41.1304722|      -80.6195833|1044| -5|  A|
#     |06A|Moton Field Munic...|      32.4605722|      -85.6800278| 264| -5|  A|
#     |06C| Schaumburg Regional|      41.9893408|      -88.1012428| 801| -6|  A|
#     |06N|     Randall Airport|       41.431912|      -74.3915611| 523| -5|  A|
#     |09J|Jekyll Island Air...|      31.0744722|      -81.4277778|  11| -4|  A|
#     |0A9|Elizabethton Muni...|      36.3712222|      -82.1734167|1593| -4|  A|
#     |0G6|Williams County A...|      41.4673056|      -84.5067778| 730| -5|  A|
#     |0G7|Finger Lakes Regi...|      42.8835647|      -76.7812318| 492| -5|  A|
#     |0P2|Shoestring Aviati...|      39.7948244|      -76.6471914|1000| -5|  U|
#     |0S9|Jefferson County ...|      48.0538086|     -122.8106436| 108| -8|  A|
#     |0W3|Harford County Ai...|      39.5668378|      -76.2024028| 409| -5|  A|
#     |10C|  Galt Field Airport|      42.4028889|      -88.3751111| 875| -6|  U|
#     |17G|Port Bucyrus-Craw...|      40.7815556|      -82.9748056|1003| -5|  A|
#     |19A|Jackson County Ai...|      34.1758638|      -83.5615972| 951| -4|  U|
#     |1A3|Martin Campbell F...|      35.0158056|      -84.3468333|1789| -4|  A|
#     |1B9| Mansfield Municipal|      42.0001331|      -71.1967714| 122| -5|  A|
#     |1C9|Frazier Lake Airpark|54.0133333333333|-124.768333333333| 152| -8|  A|
#     |1CS|Clow Internationa...|      41.6959744|      -88.1292306| 670| -6|  U|
#     |1G3|  Kent State Airport|      41.1513889|      -81.4151111|1134| -4|  A|
#     |1OH|     Fortman Airport|      40.5553253|      -84.3866186| 885| -5|  U|
#     +---+--------------------+----------------+-----------------+----+---+---+
#     only showing top 20 rows

# 2- Manipulating data

In [ ]:
# # Create the DataFrame flights
# flights = spark.table("flights")

# # Show the head
# flights.show()

# # Add duration_hrs
# flights = flights.withColumn("duration_hrs", flights.air_time/60)

# <script.py> output:
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     |year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     |2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
#     |2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
#     |2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
#     |2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
#     |2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
#     |2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
#     |2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
#     |2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
#     |2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
#     |2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
#     |2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|
#     |2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
#     |2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|
#     |2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
#     |2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|
#     |2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9|
#     |2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|
#     |2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
#     |2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
#     |2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     only showing top 20 rows

* A `SQL` query returns a table derived from one or more tables contained in a database.

* Every SQL query is made up of commands that tell the database what you want to do with the data. The two commands that every query has to contain are `SELECT` and `FROM`.

* The `SELECT` command is followed by the `columns` you want in the resulting table.

* The `FROM` command is followed by the `name of the table` that contains those columns.

* ### SELECT * FROM my_table;

* The `*` selects all columns, so this returns the entire table named my_table.

* ### SELECT * FROM students
* ### WHERE grade = 'A';


* `WHERE` This command filters the rows of the table based on some logical condition you specify

* ### SELECT COUNT(*) FROM flights
* ### GROUP BY origin;


* `GROUP BY` command. This command `breaks your data into groups and applies a function` from your SELECT statement to each group.


* ### SELECT origin, dest, COUNT(*) FROM flights
* ### GROUP BY origin, dest;


* ### It's possible to `GROUP BY more than one column`.

* The difference between `.select() and .withColumn()` methods is that `.select() returns only the columns you specify`

* while `.withColumn() returns all the columns of the DataFrame in addition to the one you defined.`

In [ ]:
# # Filter flights by passing a string
# long_flights1 = flights.filter("distance > 1000")

# # Filter flights by passing a column of boolean values
# long_flights2 = flights.filter(flights.distance > 1000)

# # Print the data to check they're equal
# long_flights1.show()
# long_flights2.show()


# output:
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     |year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     |2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
#     |2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
#     |2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
#     |2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
#     |2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
#     |2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
#     |2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
#     |2014|    9| 26|     610|       -5|    1523|       65|     US| N127UW|   616|   SEA| PHL|     293|    2378|   6|    10|
#     |2014|   12|  4|     954|       -6|    1348|      -17|     HA| N395HA|    29|   SEA| OGG|     333|    2640|   9|    54|
#     |2014|    6|  4|    1115|        0|    1346|       -3|     AS| N461AS|   488|   SEA| SAN|     133|    1050|  11|    15|
#     |2014|    6| 26|    2054|       -1|    2318|       -6|     B6| N590JB|   907|   SEA| ANC|     179|    1448|  20|    54|
#     |2014|    6|  7|    1823|       -7|    2112|      -28|     AS| N512AS|   815|   SEA| LIH|     335|    2701|  18|    23|
#     |2014|    4| 30|     801|        1|    1757|       90|     AS| N407AS|    18|   SEA| MCO|     342|    2554|   8|     1|
#     |2014|   11| 29|     905|      155|    1655|      170|     DL| N824DN|  1598|   SEA| ATL|     229|    2182|   9|     5|
#     |2014|    6|  2|    2222|        7|      55|       15|     AS| N402AS|    99|   SEA| ANC|     190|    1448|  22|    22|
#     |2014|   11| 15|    1034|       -6|    1414|      -26|     AS| N589AS|   794|   SEA| ABQ|     139|    1180|  10|    34|
#     |2014|   10| 20|    1328|       -1|    1949|        4|     UA| N68805|  1212|   SEA| IAH|     228|    1874|  13|    28|
#     |2014|   12| 16|    1500|        0|    1906|       19|     US| N662AW|   500|   SEA| PHX|     151|    1107|  15|     0|
#     |2014|   11| 19|    1319|       -6|    1821|      -14|     DL| N309US|  2164|   PDX| MSP|     169|    1426|  13|    19|
#     |2014|    5| 21|     515|        0|     757|        0|     US| N172US|   593|   SEA| PHX|     143|    1107|   5|    15|
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     only showing top 20 rows
    
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     |year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     |2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
#     |2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
#     |2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
#     |2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
#     |2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
#     |2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
#     |2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
#     |2014|    9| 26|     610|       -5|    1523|       65|     US| N127UW|   616|   SEA| PHL|     293|    2378|   6|    10|
#     |2014|   12|  4|     954|       -6|    1348|      -17|     HA| N395HA|    29|   SEA| OGG|     333|    2640|   9|    54|
#     |2014|    6|  4|    1115|        0|    1346|       -3|     AS| N461AS|   488|   SEA| SAN|     133|    1050|  11|    15|
#     |2014|    6| 26|    2054|       -1|    2318|       -6|     B6| N590JB|   907|   SEA| ANC|     179|    1448|  20|    54|
#     |2014|    6|  7|    1823|       -7|    2112|      -28|     AS| N512AS|   815|   SEA| LIH|     335|    2701|  18|    23|
#     |2014|    4| 30|     801|        1|    1757|       90|     AS| N407AS|    18|   SEA| MCO|     342|    2554|   8|     1|
#     |2014|   11| 29|     905|      155|    1655|      170|     DL| N824DN|  1598|   SEA| ATL|     229|    2182|   9|     5|
#     |2014|    6|  2|    2222|        7|      55|       15|     AS| N402AS|    99|   SEA| ANC|     190|    1448|  22|    22|
#     |2014|   11| 15|    1034|       -6|    1414|      -26|     AS| N589AS|   794|   SEA| ABQ|     139|    1180|  10|    34|
#     |2014|   10| 20|    1328|       -1|    1949|        4|     UA| N68805|  1212|   SEA| IAH|     228|    1874|  13|    28|
#     |2014|   12| 16|    1500|        0|    1906|       19|     US| N662AW|   500|   SEA| PHX|     151|    1107|  15|     0|
#     |2014|   11| 19|    1319|       -6|    1821|      -14|     DL| N309US|  2164|   PDX| MSP|     169|    1426|  13|    19|
#     |2014|    5| 21|     515|        0|     757|        0|     US| N172US|   593|   SEA| PHX|     143|    1107|   5|    15|
#     +----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
#     only showing top 20 rows

In [ ]:
# # Select the first set of columns
# selected1 = flights.select("tailnum", "origin", "dest")

# # Select the second set of columns
# temp = flights.select(flights.origin, flights.dest, flights.carrier)

# # Define first filter
# filterA = flights.origin == "SEA"

# # Define second filter
# filterB = flights.dest == "PDX"

# # Filter the data, first by filterA then by filterB
# selected2 = temp.filter(filterA).filter(filterB)

In [ ]:
# # Define avg_speed
# avg_speed = (flights.distance/(flights.air_time/60)).alias("avg_speed")

# # Select the correct columns
# speed1 = flights.select("origin", "dest", "tailnum", avg_speed)

# # Create the same table using a SQL expression
# speed2 = flights.selectExpr("origin", "dest", "tailnum", "distance/(air_time/60) as avg_speed")

In [ ]:
# # Find the shortest flight from PDX in terms of distance
# flights.filter(flights.origin == "PDX").groupBy().min("distance").show()

# # Find the longest flight from SEA in terms of air time
# flights.filter(flights.origin == "SEA").groupBy().max("air_time").show()


# <script.py> output:
#     +-------------+
#     |min(distance)|
#     +-------------+
#     |          106|
#     +-------------+
    
#     +-------------+
#     |max(air_time)|
#     +-------------+
#     |          409|
#     +-------------+

In [ ]:
# # Average duration of Delta flights
# flights.filter(flights.carrier == "DL").filter(flights.origin == "SEA").groupBy().avg("air_time").show()

# # Total hours in the air
# flights.withColumn("duration_hrs", flights.air_time/60).groupBy().sum("duration_hrs").show()

# <script.py> output:
#     +------------------+
#     |     avg(air_time)|
#     +------------------+
#     |188.20689655172413|
#     +------------------+
    
#     +------------------+
#     | sum(duration_hrs)|
#     +------------------+
#     |25289.600000000126|
#     +------------------+

In [ ]:
# # Group by tailnum
# by_plane = flights.groupBy("tailnum")

# # Number of flights each plane made
# by_plane.count().show()

# # Group by origin
# by_origin = flights.groupBy("origin")

# # Average duration of flights from PDX and SEA
# by_origin.avg("air_time").show()

# <script.py> output:
#     +-------+-----+
#     |tailnum|count|
#     +-------+-----+
#     | N442AS|   38|
#     | N102UW|    2|
#     | N36472|    4|
#     | N38451|    4|
#     | N73283|    4|
#     | N513UA|    2|
#     | N954WN|    5|
#     | N388DA|    3|
#     | N567AA|    1|
#     | N516UA|    2|
#     | N927DN|    1|
#     | N8322X|    1|
#     | N466SW|    1|
#     |  N6700|    1|
#     | N607AS|   45|
#     | N622SW|    4|
#     | N584AS|   31|
#     | N914WN|    4|
#     | N654AW|    2|
#     | N336NW|    1|
#     +-------+-----+
#     only showing top 20 rows
    
#     +------+------------------+
#     |origin|     avg(air_time)|
#     +------+------------------+
#     |   SEA| 160.4361496051259|
#     |   PDX|137.11543248288737|
#     +------+------------------+

In [1]:
# # Import pyspark.sql.functions as F
# import pyspark.sql.functions as F

# # Group by month and dest
# by_month_dest = flights.groupBy("month", "dest")

# # Average departure delay by month and destination
# by_month_dest.avg("dep_delay").show()

# # Standard deviation of departure delay
# by_month_dest.agg(F.stddev("dep_delay")).show()


# <script.py> output:
#     +-----+----+--------------------+
#     |month|dest|      avg(dep_delay)|
#     +-----+----+--------------------+
#     |   11| TUS| -2.3333333333333335|
#     |   11| ANC|   7.529411764705882|
#     |    1| BUR|               -1.45|
#     |    1| PDX| -5.6923076923076925|
#     |    6| SBA|                -2.5|
#     |    5| LAX|-0.15789473684210525|
#     |   10| DTW|                 2.6|
#     |    6| SIT|                -1.0|
#     |   10| DFW|  18.176470588235293|
#     |    3| FAI|                -2.2|
#     |   10| SEA|                -0.8|
#     |    2| TUS| -0.6666666666666666|
#     |   12| OGG|  25.181818181818183|
#     |    9| DFW|   4.066666666666666|
#     |    5| EWR|               14.25|
#     |    3| RDM|                -6.2|
#     |    8| DCA|                 2.6|
#     |    7| ATL|   4.675675675675675|
#     |    4| JFK| 0.07142857142857142|
#     |   10| SNA| -1.1333333333333333|
#     +-----+----+--------------------+
#     only showing top 20 rows
    
#     +-----+----+----------------------+
#     |month|dest|stddev_samp(dep_delay)|
#     +-----+----+----------------------+
#     |   11| TUS|    3.0550504633038935|
#     |   11| ANC|    18.604716401245316|
#     |    1| BUR|     15.22627576540667|
#     |    1| PDX|     5.677214918493858|
#     |    6| SBA|     2.380476142847617|
#     |    5| LAX|     13.36268698685904|
#     |   10| DTW|     5.639148871948674|
#     |    6| SIT|                   NaN|
#     |   10| DFW|     45.53019017606675|
#     |    3| FAI|    3.1144823004794873|
#     |   10| SEA|     18.70523227029577|
#     |    2| TUS|    14.468356276140469|
#     |   12| OGG|     82.64480404939947|
#     |    9| DFW|    21.728629347782924|
#     |    5| EWR|     42.41595968929191|
#     |    3| RDM|      2.16794833886788|
#     |    8| DCA|     9.946523680831074|
#     |    7| ATL|    22.767001039582183|
#     |    4| JFK|     8.156774303176903|
#     |   10| SNA|    13.726234873756304|
#     +-----+----+----------------------+
#     only showing top 20 rows

## Joining

* A `join` will combine two different tables along a column that they share.

In [ ]:
# # Examine the data
# airports.show()

# # Rename the faa column
# airports = airports.withColumnRenamed("faa", "dest")

# # Join the DataFrames
# flights_with_airports = flights.join(airports, on="dest", how="leftouter")

# # Examine the new DataFrame
# flights_with_airports.show()

# <script.py> output:
#     +---+--------------------+----------------+-----------------+----+---+---+
#     |faa|                name|             lat|              lon| alt| tz|dst|
#     +---+--------------------+----------------+-----------------+----+---+---+
#     |04G|   Lansdowne Airport|      41.1304722|      -80.6195833|1044| -5|  A|
#     |06A|Moton Field Munic...|      32.4605722|      -85.6800278| 264| -5|  A|
#     |06C| Schaumburg Regional|      41.9893408|      -88.1012428| 801| -6|  A|
#     |06N|     Randall Airport|       41.431912|      -74.3915611| 523| -5|  A|
#     |09J|Jekyll Island Air...|      31.0744722|      -81.4277778|  11| -4|  A|
#     |0A9|Elizabethton Muni...|      36.3712222|      -82.1734167|1593| -4|  A|
#     |0G6|Williams County A...|      41.4673056|      -84.5067778| 730| -5|  A|
#     |0G7|Finger Lakes Regi...|      42.8835647|      -76.7812318| 492| -5|  A|
#     |0P2|Shoestring Aviati...|      39.7948244|      -76.6471914|1000| -5|  U|
#     |0S9|Jefferson County ...|      48.0538086|     -122.8106436| 108| -8|  A|
#     |0W3|Harford County Ai...|      39.5668378|      -76.2024028| 409| -5|  A|
#     |10C|  Galt Field Airport|      42.4028889|      -88.3751111| 875| -6|  U|
#     |17G|Port Bucyrus-Craw...|      40.7815556|      -82.9748056|1003| -5|  A|
#     |19A|Jackson County Ai...|      34.1758638|      -83.5615972| 951| -4|  U|
#     |1A3|Martin Campbell F...|      35.0158056|      -84.3468333|1789| -4|  A|
#     |1B9| Mansfield Municipal|      42.0001331|      -71.1967714| 122| -5|  A|
#     |1C9|Frazier Lake Airpark|54.0133333333333|-124.768333333333| 152| -8|  A|
#     |1CS|Clow Internationa...|      41.6959744|      -88.1292306| 670| -6|  U|
#     |1G3|  Kent State Airport|      41.1513889|      -81.4151111|1134| -4|  A|
#     |1OH|     Fortman Airport|      40.5553253|      -84.3866186| 885| -5|  U|
#     +---+--------------------+----------------+-----------------+----+---+---+
#     only showing top 20 rows
    
#     +----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+--------------------+---------+-----------+----+---+---+
#     |dest|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|air_time|distance|hour|minute|                name|      lat|        lon| alt| tz|dst|
#     +----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+--------------------+---------+-----------+----+---+---+
#     | LAX|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA|     132|     954|   6|    58|    Los Angeles Intl|33.942536|-118.408075| 126| -8|  A|
#     | HNL|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA|     360|    2677|  10|    40|       Honolulu Intl|21.318681|-157.922428|  13|-10|  N|
#     | SFO|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA|     111|     679|  14|    43|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
#     | SJC|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX|      83|     569|  17|     5|Norman Y Mineta S...|  37.3626|-121.929022|  62| -8|  A|
#     | BUR|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA|     127|     937|   7|    54|            Bob Hope|34.200667|-118.358667| 778| -8|  A|
#     | DEN|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX|     121|     991|  10|    37|         Denver Intl|39.861656|-104.673178|5431| -7|  A|
#     | OAK|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX|      90|     543|   8|    47|Metropolitan Oakl...|37.721278|-122.220722|   9| -8|  A|
#     | SFO|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA|      98|     679|  16|    55|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
#     | SAN|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA|     135|    1050|  12|    36|      San Diego Intl|32.733556|-117.189667|  17| -8|  A|
#     | ORD|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA|     198|    1721|  18|    12|  Chicago Ohare Intl|41.978603| -87.904842| 668| -6|  A|
#     | LAX|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA|     130|     954|  16|    53|    Los Angeles Intl|33.942536|-118.408075| 126| -8|  A|
#     | PHX|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA|     154|    1107|  11|    20|Phoenix Sky Harbo...|33.434278|-112.011583|1135| -7|  N|
#     | LAS|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA|     127|     867|   8|    11|      Mc Carran Intl|36.080056| -115.15225|2141| -8|  A|
#     | ANC|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA|     183|    1448|  23|    46|Ted Stevens Ancho...|61.174361|-149.996361| 152| -9|  A|
#     | SFO|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA|     129|     679|  13|    14|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
#     | SFO|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX|      90|     550|  20|     9|  San Francisco Intl|37.618972|-122.374889|  13| -8|  A|
#     | SMF|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA|      76|     605|  20|    15|     Sacramento Intl|38.695417|-121.590778|  27| -8|  A|
#     | MDW|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA|     216|    1733|  10|    17| Chicago Midway Intl|41.785972| -87.752417| 620| -6|  A|
#     | BOS|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA|     290|    2496|  21|    56|General Edward La...|42.364347| -71.005181|  19| -5|  A|
#     | BUR|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX|     111|     817|  17|    33|            Bob Hope|34.200667|-118.358667| 778| -8|  A|
#     +----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+--------------------+---------+-----------+----+---+---+
#     only showing top 20 rows

# 3- Getting started with machine learning pipelines

* At the core of the `pyspark.ml` module are the `Transformer` and `Estimator` classes

* `.transform()` method that takes a DataFrame and returns a new DataFrame; usually the original one with a new column appended

* `Estimator` classes all implement a .fit() method. These methods also take a DataFrame, but instead of returning another DataFrame they return a model object

In [ ]:
# # Rename year column
# planes = planes.withColumnRenamed("year", "plane_year")

# # Join the DataFrames
# model_data = flights.join(planes, on="tailnum", how="leftouter")

In [ ]:
# # Cast the columns to integers
# model_data = model_data.withColumn("arr_delay", model_data.arr_delay.cast("integer"))
# model_data = model_data.withColumn("air_time", model_data.air_time.cast("integer"))
# model_data = model_data.withColumn("month", model_data.month.cast("integer"))
# model_data = model_data.withColumn("plane_year", model_data.plane_year.cast("integer"))

In [ ]:
# # Create the column plane_age
# model_data = model_data.withColumn("plane_age", model_data.year - model_data.plane_year)

In [ ]:
# # Create is_late
# model_data = model_data.withColumn("is_late", model_data.arr_delay > 0)

# # Convert to an integer
# model_data = model_data.withColumn("label", model_data.is_late.cast("integer"))

# # Remove missing values
# model_data = model_data.filter("arr_delay is not NULL and dep_delay is not NULL and air_time is not NULL and plane_year is not NULL")

In [ ]:
# # Create a StringIndexer
# carr_indexer = StringIndexer(inputCol="carrier", outputCol="carrier_index" )

# # Create a OneHotEncoder
# carr_encoder = OneHotEncoder(inputCol="carrier_index", outputCol="carrier_fact")

In [ ]:
# # Create a StringIndexer
# dest_indexer = StringIndexer(inputCol="dest" , outputCol="dest_index")

# # Create a OneHotEncoder
# dest_encoder = OneHotEncoder(inputCol="dest_index", outputCol="dest_fact")

In [2]:
# # Make a VectorAssembler
# vec_assembler = VectorAssembler(inputCols=["month", "air_time", "carrier_fact", "dest_fact", "plane_age"], outputCol='features')

In [ ]:
# # Import Pipeline
# from pyspark.ml import Pipeline

# # Make the pipeline
# flights_pipe = Pipeline(stages=[dest_indexer, dest_encoder, carr_indexer, carr_encoder, vec_assembler])

In [ ]:
# # Fit and transform the data
# piped_data = flights_pipe.fit(model_data).transform(model_data)

In [ ]:
# # Split the data into training and test sets
# training, test = piped_data.randomSplit([.6, .4])

# 4- Model tuning and selection

In [ ]:
# # Import LogisticRegression
# from pyspark.ml.classification import LogisticRegression

# # Create a LogisticRegression Estimator
# lr = LogisticRegression()

In [ ]:
# # Import the evaluation submodule
# import pyspark.ml.evaluation as evals

# # Create a BinaryClassificationEvaluator
# evaluator = evals.BinaryClassificationEvaluator(metricName="areaUnderROC")

In [ ]:
# # Import the tuning submodule
# import pyspark.ml.tuning as tune

# # Create the parameter grid
# grid = tune.ParamGridBuilder()

# # Add the hyperparameter
# grid = grid.addGrid(lr.regParam, np.arange(0, .1, .01))
# grid = grid.addGrid(lr.elasticNetParam, [0, 1])

# # Build the grid
# grid = grid.build()

In [ ]:
# # Create the CrossValidator
# cv = tune.CrossValidator(estimator=lr,
#                estimatorParamMaps=grid,
#                evaluator=evaluator
#                )

In [ ]:
# # Call lr.fit()
# best_lr = lr.fit(training)

# # Print best_lr
# print(best_lr)

In [ ]:
# # Use the model to predict the test set
# test_results = best_lr.transform(test)

# # Evaluate the predictions
# print(evaluator.evaluate(test_results))
#     0.7125950520012994